* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Navbar */
.main-cont {
  width: 100%;
  font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

nav {
  z-index: 10;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
}

ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  /* position:fixed; */
}

li {
  padding: 15px;
  text-decoration: none;
}

button {
  padding: 12px 25px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}

.right-nav {
  display: flex;
  align-items: center;
}
.navbar-item {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  margin: 0px 50px 0 50px;
}

.sec1 {
  color: white;
  width: 100%;
  /* height:600px; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-image: url(../Ladakh_Monastery.jpg); */
  background-image: url(asset/tajamahal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sec1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  position: relative;
  z-index: 5;
}
.banner h1 {
  font-size: 6rem;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.buttons-cont a {
  color: white;
  border-radius: 50px;
  padding: 1.3rem;
  /* font-weight:; */
  font-size: larger;
  margin-right: 1rem;
  /* background-color: #e96720; */
}
/* ---------------------------------states----------------------------------- */

.stat-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 5.5rem;
}

.stat-item h3 {
  font-size: 1.9rem;
  color: #e96720;
  margin-bottom: 10px;
}

/* ------------------card--------------------------- */
.best-place {
  width: 100%;
  background-color: #fff4ef;
  padding:2.5%;
  /* margin-bottom: 60px; */
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.heading h2 {
  font-size: 50px;
  margin-bottom: 1rem;
  /* margin-top: 50px; */
}
.heading p {
  font-size: 16px;
  margin-bottom: 30px;
}

/* -------------------------card--------------- */

.best-place-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: 1rem;
      border-radius: 25px;
      background-color: white;
      position: relative;
      flex-grow: 1;
      /* transition: ease-in-out 0.3s; */
    }

    .card img {
      width: 100%;
      /* height: 30%; */
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      /* margin-bottom: 1.5rem; */
    }

    .des {
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .des h2 {
      margin-bottom: 0.5rem;
      color: black;
      font-weight: bold;
    }

    .des span {
      color: rgb(108, 100, 100);
      /* display: block; */
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }

    .des span:nth-child(4) {
      display: inline;
    }

    .des p {
      margin-bottom: 1rem;
    }

    .des .key-point {
      display: inline-block;
      background-color: #fff4ef;
      color: #922b05;
      font-weight: bold;
      padding: 9px;
      font-size: 0.7rem;
      /* margin-right: 5px; */
      margin-bottom: 5px;
      border-radius: 50px;
      /* padding: 5px; */
    }

    .des button {
      padding: 10px 18px;
      /* width: 100%; */
      border-radius: 10px;
      color: white;
      background-color: #ea4b0f;
      border: none;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
      position: static;
      float: right;
    }

    .goa {
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: #ea4b0f;
      color: white;
      padding: 5px 15px;
      border-radius: 25px;
    }

    .img {
      /* height: 30%; */
    }

    /* ---------------------- */
    .card1 {
      width: 100%;
      display: flex;
      background-color: white;
    }

    .card1 .imge {
      width: 40%;
      /* margin: 60px; */
    }

    .card1 img {
      width: 100%;
      height: auto;
      margin: none;
    }

    .card1 .des {
      width: 60%;
    }

    /* --------------------------------------------- */
    
/* -------------------cta----------- */
.cta {
  width: 100%;
  background-color: #ea4b0f;
  color: white;
  padding: 60px;
}

/* ---------------- */

.Culture {
  width: 100%;
  padding:2.5%;
}
.Culture-item {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.item {
  width: 25%;
  background-color: #fff4ef;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

.item h2 {
  margin-bottom: 20px;
}
.logo {
  width: 100%;
  font-size: 40px;
  padding: 25px;
}

/* ---------------------------------hotel---------------------- */
.Hotel-regi-book{
  width: 100%;
  background-color: #FFF4EF;
  padding: 2.5%;
  display:flex;
  /* margin-bottom: 60px; */
}

.hotel-list{
  width: 60%;
  margin:1rem;
}

.heading p {
  font-size: 1.5rem;
}

.Hotel-booking{
  width: 40%;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

.booking-container{
  position: sticky;
  top:10%;
  background-color: white;
  padding: 1.5rem;
  border-radius: 25px;
  overflow: hidden;
}

.booking-container h2{
  margin-bottom: 1.5rem;
}

.booking-container label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.booking-container input{
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form-group{
  display: inline-block;
  gap: 1rem;
  width: 48%;
}

.form-group select{
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.booking-form textarea{
  width: 100%;
  padding:10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 80px;
}

.booking-container button{
  align-items: center;
  padding: 12px 25px;
  border-radius: 10px;
  color: white;
  background-color: #ea4b0f;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.card2 {
      width: 100%;
      background-color: white;
      display: flex;
      position: relative;
      border-radius: 25px;
      overflow:hidden;
      margin-bottom: 2rem;
    }

    .card2 .photo {
      width: 30%;
    }

    .photo img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    .card2 .detail {
      width: 70%;
    }

/* -------------------gallary--------------------------- */
.Gallary-card{
    width: 100%;
    background-color: #fff4ef ;
    /* display: flex; */
}
.gallary-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: rem;
}
.gallary-item{
    width: 25%;
    padding: 10px;}

/*-------------------sign----------------------  */
.cont{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.sign{
  width: 400px;
  padding: 2.5%;
}

.sign .line input{
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.sign h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.sign h2,label,p{
  margin-bottom: 1rem;

}

.sign .buttons{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #ea4b0f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.sign .btn-social{
  width: 48%;
  padding: 12px;
  border-radius: 10px;
border: none;
  background-color: #f5f5f5;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}