* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  
}
/* Navbar */
.main-cont {
  width: 100%;
  
  /* font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif; */
}

.navbar {
  z-index: 10;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  /* position:fixed; */
}

.navbar li {
  padding: 15px;
  text-decoration: none;
}


button {
  font-size:1rem;;
  padding: 12px 25px;
  border-radius: 5px;
  background-color: #e96720;
  color: white;
  border-style: none;
  font-weight: bold;
}
.right-nav a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  /* font-weight: bold; */
}

.navbar .right-nav a:hover {
  background-color: #e96720;
  /* font-weight: bold; */
  color: white;
  border-radius: 5px;

}

.left-nav h1 {
  text-decoration: none;
  color: #e96720;
  font-size: 2rem;
  font-weight: bold;
}

a{
  text-decoration: none;
}
.right-nav {
  display: flex;
  align-items: center;
}
.navbar-item {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  margin: 0px 50px 0 50px;
}

.sec1 {
  color: white;
  width: 100%;
  /* height:600px; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-image: url(../Ladakh_Monastery.jpg); */
  background-image: url(asset/tajamahal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sec1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  position: relative;
  z-index: 5;
}
.banner h1 {
  font-size: 6rem;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.buttons-cont a {
  color: white;
  border-radius: 50px;
  padding: 1.3rem;
  /* font-weight:; */
  font-size: larger;
  margin-right: 1rem;
  /* background-color: #e96720; */
}
/* ---------------------------------states----------------------------------- */

.stat-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 5.5rem;
}

.stat-item h3 {
  font-size: 1.9rem;
  color: #e96720;
  margin-bottom: 10px;
}

/* ------------------card--------------------------- */
.best-place {
  width: 100%;
  background-color: #fff4ef;
  padding: 2.5%;
  /* margin-bottom: 60px; */
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.heading h2 {
  font-size: 50px;
  margin-bottom: 1rem;
  /* margin-top: 50px; */
}
.heading p {
  font-size: 16px;
  margin-bottom: 30px;
}

/* -------------------------card--------------- */
.best-place-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  border-radius: 25px;
  background-color: white;
  position: relative;
  overflow: hidden;
  /* flex-grow: 1; */
  /* transition: ease-in-out 0.3s; */
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
  /* border: 5px solid #e96720; */
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* border-top-left-radius: 25px;
      border-top-right-radius: 25px; */
  /* margin-bottom: 1.5rem; */
}

.des-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.des-content h2 {
  margin-bottom: 0.5rem;
  color: black;
  font-weight: bold;
}

.content-des ,span{
  color: rgb(108, 100, 100);
  /* display: block; */
  margin-bottom: 1rem;
  font-size: 0.9rem;
}



.des-content ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 1rem;
}

.des-content li{
background-color: #f57c3b;
color: white;
padding: 5px;
border-radius: 4px;
font-size: 0.8rem;
}

.key-point{
  flex-grow: 1;
}

.card-footer{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
}

/* corner heading */
.goa {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #ea4b0f;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
}



/* -------------------cta----------- */
.cta {
  width: 100%;
  background-color: #ea4b0f;
  color: white;
  padding: 60px;
}

/* ---------------- */

.Culture {
  width: 100%;
  padding: 2.5%;
}
.Culture-item {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.item {
  width:30%;
  background-color: #fff4ef;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

.item h2 {
  margin-bottom: 20px;
}
.logo {
  width: 100%;
  font-size: 40px;
  padding: 25px;
}

/* ---------------------------------hotel---------------------- */
.Hotel-regi-book {
  width: 100%;
  background-color: #fff4ef;
  padding: 2.5%;
  display: flex;
  /* margin-bottom: 60px; */
  gap: 1rem;
}

.hotel-list{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-list h1{
  margin-bottom: 1rem;
}
/* --------hotel-card------------------------------------- */
.hotel-list .card1{
  width: 90%;
  background-color: white;
  margin-bottom:1rem;
  border-radius: 10px;
  overflow: hidden;
  /* display: flex; */
}

.hotel-list .card1:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
  transition: ease-in-out 0.3s;
}

.card1 img{
  width: 100%;
  height: 350px;
}

.location{
  font-family: sans-serif;
}

.Hotel-booking{
  /* width: 40%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items:  center;   */

  
}
.booking-container {
  position: sticky;
  top: 10%;
  background-color: white;
  padding: 1.5rem;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.booking-container h2 {
  margin-bottom: 1.5rem;
}

.booking-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.booking-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form-group {
  display: inline-block;
  gap: 1rem;
  width: 48%;
}

.form-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.booking-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 80px;
}

.booking-container button {
  align-items: center;
  padding: 12px 25px;
  border-radius: 10px;
  color: white;
  background-color: #ea4b0f;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.card2 {
  width: 100%;
  background-color: white;
  display: flex;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.card2 .photo {
  width: 30%;
}

.photo img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card2 .detail {
  width: 70%;
}

/* -------------------gallary--------------------------- */
.Gallary-card {
  width: 100%;
  background-color: #fff4ef;
  /* display: flex; */

  /* display: flex; */
}
.gallary-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.gallary-item {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.gallary-item:hover{
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.gallary-item  img{
  width:100%;
  /* height: 250px; */
  object-fit: cover;
  border-radius: 15px;
}

/*-------------------sign----------------------  */
.cont {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.sign {
  border-radius: 5px;
  /* width: 400px; */
  padding:10px 25px 25px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.sign .line input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.sign h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.sign h2,
label,
p {
  margin-bottom: 1rem;
}

.sign .buttons {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #ea4b0f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.sign .btn-social {
  width: 48%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #f5f5f5;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}


/* responnsi */
@media screen and (max-width:1010px) {
 .card {
    width: 45%;
  }

}

@media screen and (max-width:673px) {
  .navbar ul {
    flex-direction: column;
  }

  .banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.navbar li {
    padding: 10px;
  }

  .banner p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

.buttons-cont a{
  padding: 1rem;
  font-size: medium;
}
  .stat-item {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin: 2rem;
    gap: 1rem;
  }

  .stat-item1{
    width:45%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .best-place-list {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .Culture-item {
    flex-direction: column;
    display: flex;
    align-items:center;
  }

  
  .item {
    width: 80%;
    margin-bottom: 1rem;
  }

 .cta{
  padding: 17px;
 }

 .cta h2{
  font-size:2rem;
  margin-bottom:1rem;
 }

 .heading{
  margin-bottom: 20px;
 }

 

  .heading h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .Hotel-regi-book {
    flex-direction: column;
  }

  .hotel-list,
  .Hotel-booking {
    width: 100%;
  }

  .gallary-item {
    width: 80%;
  }
 
  
  .sign{
    width: 90%;
    margin-top: 2.5rem;
  }

  .cont{
    height:100%;
    /* padding: 2rem 0; */
  }
}